body {
    background-color: rgb(171, 186, 128);
}

#the-main-title {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: xxx-large;   
}

#random-words {
    padding: 0%;
    height: 170px;
    width: 600px;
    position: relative;
    top: 30px;
    left: 25%;
    background-color: burlywood;
    border: solid ;
    font-size: xx-large;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#word-input {
    height: 40px;
    width: 600px;
    border: solid;
    padding: 0%;
    text-align: center;
    font-size: xx-large;
    font-weight: 200;
    color: rgb(112, 92, 229);
    position: relative;
    top: 15px;
    left: 25%;
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}