body {
    background-color: rgb(171, 186, 128);
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    height: 100vh;
    text-align: center;
}

.main-div > h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 4em;  
}

.main-div > #random-words {
    padding: 0%;
    height: 23vh;
    width: 60vw;
    background-color: burlywood;
    border: solid ;
    border-radius: 20px;
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

.main-div > #word-input {
    height: 5vh;
    width: 60vw;
    border: solid;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    color: rgb(112, 92, 229);
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}